.container {
  padding-top: 30px;
  width: 400px;
  margin: auto;
}

.input {
  padding: 5px 15px;
  width: 400;
  border-radius: 5px;
  border-width: 2px;
  font-size: 30px;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #152E2B;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.user-id {
  color: white;
  margin-right: 20px;
}

.user-name {
  color: white;
  font-weight: bold;
}

.user-age {
  color: #FCC4CD;
  margin-left: auto;
  font-weight: bold;
}